@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #00008B;
    --cor-terciaria: #D8DFE8;
    --cor-destaque: #000000;
    --cor-campo: #ffffff;

    --font-primaria: "Inter", sans-serif;
}

::placeholder {
    color: var(--cor-secundaria);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.apresentacao__codificador {
    padding: 6% 0% 0% 20%;
}

.apresentacao__codificador__texto {
    font-family: var(--font-primaria);
    font-size: 2rem;
    color: var(--cor-secundaria);
    padding: 0% 0% 80% 0%;
}

textarea {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 2rem;
    width: 648px;
    height: 48px;
    border: none;
    resize: none;
}

.apresentacao__codificador__botoes {
    display: flex;
    gap: 1.5rem;
}

.botao_criptografar {
    border: 2px solid var(--cor-secundaria);
    border-radius: 1rem;
    padding: 16px 24px;
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-campo);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}

.botao_descriptografar {
    border: 1px solid var(--cor-secundaria);
    border-radius: 1rem;
    padding: 16px 24px;
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}

.apresentacao__decodificador {
    background-color: var(--cor-campo);
    border-radius: 1rem;
    /* padding: 5% 5% 25%; */
    width: 400px;

}

.apresentacao__decodificador__imagem {
    padding: 243px 32px 32px 32px;
}

.apresentacao__decodificador__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao__decodificador__mensagem {
    display: flex;
    align-content: center;
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-destaque);
    padding: 0 1.5rem 1rem 2rem;
}

.apresentacao__decodificador__texto {
    font-family: var(--font-primaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-destaque);
    padding: 0 1.5rem 0 2rem;
}

.botao__copiar {
    border: 1px solid var(--cor-secundaria);
    border-radius: 1rem;
    padding: 16px 24px;
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--cor-campo);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}